  #root {
    height: 100vh;
  }
  body {
    margin: 0;
    height: 100vh;
  }
  
  .dark {
    background-color: #333;
    color: #ffff;
  }
  
  /* Page Layout */
  .flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .chart-top {
    padding: 1%;
  }
  .chart-bottom {
    padding: 1%;
    height: 100%;
  }
  